<!-- Delete modal html-->

<div class="modal-content">
  <div class="modal-header remove-border">
    <h4 class="modal-title">Alert</h4>
  </div>
  <div class="modal-body remove-border">
    <p>Are you sure you want to delete this?</p>
  </div>
  <div class="modal-footer remove-border">

    <!-- Button to close modal -->
    <button type="button" class="btn btn-secondary" data-ng-click = 'dc.cancelDel()'>Cancel</button>

    <!-- Button to confirm deleting data object -->
    <button type="button" class="btn btn-primary" data-ng-click = 'dc.confirmDel()'>Okay</button>
  </div>
</div><!-- /.modal-content -->
