<div ng-controller="novoCloudCntrl">
	<div class="row" id="scroll">
		<div class="col-md-12">
			<div class= "col-md-4 col-md-offset-1 " id="navbar1">
	 
				<img src="logo/navcloudlogo.jpg" id="logostyle">
			</div>
			<div class="col-md-6 col-md-offset-1 "> 
				<div class="col-md-9">
					<div class="form-group pull-right" id="inputstyle">
	    			 	<input type="text" class="form-control" id="usr">
	    				 <span class="glyphicon glyphicon-search" id="search"></span>
	  				 </div>
  				</div> 
  				<div class="col-md-2">
					<i class="fa fa-user"  id="userstyle"></i>
				</div>
				<div class="col-md-1">
					<i class="fa fa-ellipsis-v fa-lg" aira-hidden="true" id="optionstyle"></i>
				</div>
			</div>		
	 	</div>
	</div>
	<div class="row" id="scroll">
		<div  id="navbar2" >
			<div class= "col-md-1" id="colmd">
				<i class="fa fa-align-justify" title="Align Justify" id="collapse"></i>
				<h4 id="fontstyle"> Farmer/Production</h4>
				<h4 id="fontstyle1"> ROI</h4>
			</div>
			
		 
		</div>
	</div>
		
	<nav class="navbar " id="navbar3">
		<div class="container-fluid">

			<ul class="nav navbar-nav">
     
				<li class="touched" class="listyle"><b>Strawberries</b></li>
				<li class="listyle"><b>Blueberries</b></li>
				<li class="listyle"><b>Lettuce</b></li>
				<li class="listyle"><b>Broccoli</b></li>
				<li class="listyle"><b>Cauliflower</b></li>
			</ul>
		</div>
	</nav>
		
		
		
	<nav class="navbar " id="navbar4">
		<div class="container-fluid" id="colmd">

			<ul class="nav navbar-nav">
				<li id="touched1"> <b>ROI</b><br><h4 id="first">-13.42% </h4></li>
			
				<li class="listyle"> <b>Total Cases</b><br><h4 id="first">5415
				</h4> </li>
				<li class="listyle"> <b>Total Cost</b><h4 id="first">
				$484,058.89 </h4></li>
				<li class="listyle"><b> Total Sales</b><h4 id="first">$481,649.50 
				</h4></li>
				<li class="listyle"> <b>Total Cost/lb</b><h4 id="first">$2.15
				</h4></li>
				<li class="listyle"><b> price/lb</b><h4 id="first">$2.29s
				</h4></li>
				<li class="listyle"><b>Net Revenue</b><h4 style="color:rgb(166,80,83)"id="first">-$2409.39
				</h4></li>
				
			</ul>
		</div>
	</nav>
	
	  <div class="row" id="scroll">
		<div class="col-md-5 titlestyle table1">
		  <div class="title">
		    <div class="col-md-offset-4 col-md-2 col-lg-3 table1"><h4><b>Total Cost</b></h4></div>
		    <div class="col-md-2 col-lg-3 table1"><h4><b>Cost/Case</b></h4></div>
		    <div class="col-md-2 col-lg-2 text-left heading"><h4><b>Price/Case</b></h4></div>
		  </div>
  <div class="table table-responsive tablesizing">
      <table>
	<tbody class="outerTable" ng-repeat="details in getData.novocloud">
              <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                <td class="col-md-3"><button class="plusIcon"><i class="fa fa-plus icon" aria-hidden="true"></i></button> {{details.heading}}</td>
                <td class="col-md-2">{{details.totalcost}}</td>
                <td class="col-md-2">{{details.cost}}</td>
                <td class="col-md-2">{{details.price}}</td>
            </tr>
            <tr>
                <td colspan="12" class="hiddenRow">
                  <div class="accordian-body collapse" id="demo1">
                    <table class="table col-md-12">
                          <tbody ng-repeat="costdetail in details.array1">
                            <tr class="trstyle">
                              <td class="col-md-3 firsttdstyle" style="padding-left:20px">{{costdetail.heading}}</td>
                              <td class="col-md-2 tdstyle">{{costdetail.totalcost }}</td>
                              <td class="col-md-2 tdstyle" >{{costdetail.cost}}</td>
                              <td class="col-md-2 tdstyle">{{costdetail.price}}</td>
                            </tr>
                          </tbody>
                    </table>

                  </div>
                 </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>
		<div class="col-md-5">    
			<div class="piechart"> 
				<div class="piediv">
					<h5 >Cost Chart</h5>
				</div>
			    <div id="chartContainer" class="piecontent">
			</div>
		</div>
</div>
	

</div>


	 		 
	


	

