<div ng-controller="novoCloudCntrl">
	<div class="row scroll">
		<div class="col-md-12">
			<div class= "col-md-4 col-md-offset-1 " id="navbar1">
	 
				<img src="logo/navcloudlogo.jpg" id="logostyle">
			</div>
			<div class="col-md-6 col-md-offset-1 "> 
				<div class="col-md-9">
					<div class="form-group pull-right" id="inputstyle">
	    			 	<input type="text" class="form-control" id="usr">
	    				 <span class="glyphicon glyphicon-search" id="search"></span>
	  				 </div>
  				</div> 
  				<div class="col-md-2">
					<i class="fa fa-user"  id="userstyle"></i>
				</div>
				<div class="col-md-1">
					<i class="fa fa-ellipsis-v fa-lg" aira-hidden="true" id="optionstyle"></i>
				</div>
			</div>		
	 	</div>
	</div>
	<div class="row scroll">
		<div  id="navbar2" >
			<div class= "col-md-1" id="colmd">
				<i class="fa fa-align-justify" title="Align Justify" id="collapse"></i>
				<h4 id="fontstyle"> Farmer/Production</h4>
				<h4 id="fontstyle1"> ROI</h4>
			</div>
			
		 
		</div>
	</div>
		
	<nav class="navbar" id="navbar3">
		<div class="container-fluid">

			<ul class="nav navbar-nav">
     
				<li  class="listyle hover">Strawberries</li>
				<li class="listyle">Blueberries</li>
				<li class="listyle">Lettuce</li>
				<li class="listyle">Broccoli</li>
				<li class="listyle">Cauliflower</li>
			</ul>
		</div>
	</nav>
		
		
		
	<nav class="navbar" id="navbar4">
		<div class="container-fluid" id="colmd">

			<ul class="nav navbar-nav">
				<li id="touched1"> ROI<br><h4 class="first">-13.42% </h4></li>
			
				<li class="listyle1"> Total Cases<br><h4 class="first">5415
				</h4> </li>
				<li class="listyle1"> Total Cost<h4 class="first">
				$484,058.89 </h4></li>
				<li class="listyle1">Total Sales<h4 class="first">$481,649.50 
				</h4></li>
				<li class="listyle1"> Total Cost/lb<h4 class="first">$2.15
				</h4></li>
				<li class="listyle1"> price/lb<h4 class="first">$2.29s
				</h4></li>
				<li class="listyle1">Net Revenue</b><h4 class="first" style="color:#d0011b;">-$2409.39
				</h4></li>
				
			</ul>
		</div>
	</nav>
	
	<div  class="scroll">
		<div class="col-md-5 titlestyle table1">
		  	<div class="title">
			    <div class="col-md-offset-3 col-md-2 col-lg-3 table1"><h4 class="fontstyle"><b>Total Cost</b></h4></div>
			    <div class="col-md-2 col-lg-3 table1"><h4 class="fontstyle"><b>  Cost/Case</b></h4></div>
			    <div class="col-md-2 col-lg-2 text-left heading"><h4 class="fontstyle"><b>Price/Case</b></h4></div>
		  	</div>
			 <div class="table table-responsive tablesizing">
			    <table style="width:100%">
					<tbody class="outerTable" ng-repeat="details in getData.novocloud">
			            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
			                <td class="col-md-3 "><button class="plusIcon"><i class="fa fa-plus icon" aria-hidden="true"></i></button> {{details.heading}}</td>
			                <td class="col-md-3 ">{{details.totalcost}}</td>
			                <td class="col-md-3">{{details.cost}}</td>
			                <td class="col-md-3 ">{{details.price}}</td>
			            </tr>
			            <tr>
			                <td colspan="12" class="hiddenRow">
			                   <div class="accordian-body collapse" id="demo1">
				                    <table class="col-md-12">
				                        <tbody ng-repeat="costdetail in details.array1">
				                            <tr class="trstyle">
				                              <td class="col-md-3 firsttdstyle" >{{costdetail.heading}}</td>
				                              <td class="col-md-3 tdstyle">{{costdetail.totalcost }}</td>
				                              <td class="col-md-3 tdstyle" >{{costdetail.cost}}</td>
				                              <td class="col-md-3 tdstyle">{{costdetail.price}}</td>
				                            </tr>
				                        </tbody>
				                    </table>

			                 	 </div>
			                 </td>
			            </tr>
				    </tbody>
			    </table>
		 	 </div>
		</div>
		 
		<div class="col-md-5">    
			<div class="piechart"> 
				<div class="piediv">
					<h5 >Cost Chart</h5>
				</div>
			    <div id="chartContainer" class="piecontent">
				</div>
			</div>
		</div>
		

	</div>
</div>

	 		 
	


	

