@font-face {
    font-family: Fira Sans;
    src: url("fira-sans/FiraSans-Light.ttf") format('truetype');
    color: black;
}
* {
    font-family: Fira Sans;
}
#navbar1 {
    height: 97px;
}
#navbar2 {
    height: 65px;
    background-color: #f8f8f8;
}
#navbar3 {
    height: 65px;
    border-radius: 0px!important;
    margin-bottom: 0px;
}
.listyle {
    padding-left: 40px;
    margin-top: 20px;
    /*font-family:Fira Sans;*/
    
    color: black;
    font-size: 14px!important;
    color: #4a4a4a;
    padding-bottom: 6px!important;
}
li {
    padding-left: 60px;
    margin-top: 20px;
    /*font-family:Fira Sans;*/
    
    color: black;
    font-size: 14px!important;
    color: #4a4a4a;
    font-family: FiraSans-Regular;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    li {
        padding-left: 30px;
        margin-top: 20px;
        /*font-family:Fira Sans;*/
        
        color: black;
        font-size: 14px!important;
        color: #4a4a4a;
        font-family: FiraSans-Regular;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    li {
        padding-left: 0px!important;
        margin-top: 20px;
        /*font-family:Fira Sans;*/
        
        color: black;
        font-size: 14px!important;
        color: #4a4a4a;
        font-family: FiraSans-Regular;
    }
    .first {
        /*font-family:Fira Sans;*/
        
        font-size: 20px;
        color: #4a4a4a;
        font-family: FiraSans-Light;
    }
}
@media only screen and (max-width: 768px) {
    li {
        padding-left: 0px!important;
        margin-top: 20px;
        /*font-family:Fira Sans;*/
        
        color: black;
        font-size: 14px!important;
        color: #4a4a4a;
        font-family: FiraSans-Regular;
    }
    .first {
        /*font-family:Fira Sans;*/
        
        font-size: 10px;
        color: #4a4a4a;
        font-family: FiraSans-Light;
    }
}
.lispacing {
    width: 160px;
}
.lispacing {
    width: 160px;
}
.hover {
    border-bottom: solid;
    border-bottom-color: green;
    /*border-left: 17px;*/
    /*border-spacing: 25px;*/
    
    padding-left: 40px;
}
/*.touched{
	margin-top: 18px;
	border-bottom: solid;
	border-bottom-color:green;

}*/

#navbar4 {
    height: 102px;
    border-radius: 0px!important;
    background-color: #f8f8f8;
    border: 0px;
}
#logostyle {
    height: 76px;
    /*width:107px;*/
    /*margin-left: 53px;*/
    
    margin-top: 10px;
    margin-bottom: 13px!important;
}
#inputstyle {
    margin-top: 28px;
    width: 358px;
    height: 45px;
    right: 116px;
}
#search {
    position: absolute !important;
    right: 24px;
    top: 36px !important;
}
#glypstyle {
    position: relative;
    background-color: white !important;
    border-left: none!important;
    border-radius: 0px !important;
    height: 50px! important;
    color: rgb(231, 231, 231);
    margin-left: 230px;
}
#userstyle {
    position: relative;
    margin-left: 19px;
    margin-bottom: 18px;
    margin-top: 20px;
    font-weight: 17px;
    font-size: 30px;
    border-radius: 50%;
    border: 1x solid #d8d8d8;
    width: 57px;
    height: 57px;
    border-radius: 100%;
    ;
    padding: 13px 16px 16px 19px;
    background-color: #ccc;
}
#optionstyle {
    position: relative;
    margin-left: 10px;
    font-size: 28px;
    padding: 0px;
    color: black;
    margin-top: 37px;
}
.colmdstyle {
    padding-left: 0px!important;
}
#collapse {
    height: 65px;
    padding: 20px 30px 20px 30px;
    background-color: rgb(132, 184, 72);
    color: white;
    font-size: 30px;
}
#colmd {
    margin-left: 0px!important;
    padding-left: 0px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
}
.navwidth {
    margin-left: 0px!important;
    padding-left: 0px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.scroll {
    margin-right: 0px;
    margin-left: 0px!important;
    margin-right: 0px!important;
}
#fontstyle {
    /*font-family:Fira Sans;*/
    
    margin-left: 105px;
    margin-top: -50px;
    font-size: 12px;
    color: #4a4a4a;
}
#fontstyle1 {
    /*font-family:Fira Sans;*/
    
    margin-left: 105px;
    margin-top: -10px;
    font-size: 24px;
    color: #4a4a4a;
}
#ulstyle {
    list-style-type: none;
}
.first {
    /*font-family:Fira Sans;*/
    
    font-size: 30px;
    color: #4a4a4a;
    font-family: FiraSans-Light;
}
#touched1 {
    position: relative;
    background-color: rgb(255, 194, 93)!important;
    padding: 20px 30px 20px 30px;
    height: 102px;
    margin-top: 0px!important;
    /*font-family:Fira Sans;*/
}
/*.cellwidth{
	width:2%;
}
*/

.add {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.table1 {
    padding: 0px!important;
    font-family: FiraSans-Medium;
    font-size: 14px!important;
    color: #4a4a4a;
}
.heading {
    padding: 0px!important;
    margin-left: -7px;
}
.tablesizing {
    padding: 0px;
    margin-bottom: 0px
}
.titlestyle {
    margin-left: 15px;
    height: auto;
    width: 48%;
    border: 1px solid rgb(220, 220, 220);
    float: left !important;
}
.title {
    width: 100%;
    height: 40px;
    /*padding:10px;*/
    
    border-bottom: 1px solid rgb(220, 220, 220);
    /*background-color: rgb(247,247,247);*/
}
.fontstyle {
    font-size: 14px!important;
}
tr {
    border-bottom: 1px solid rgb(220, 220, 220);
    font-family: FiraSans-Medium;
    font-size: 14px!important;
}
tr:last-child {
    border-bottom: none !important;
}
td {
    padding: 11px!important;
    margin-bottom: 0px!important;
    border-left: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    /*font-weight:bold !important;*/
    /*padding-right: 25px;*/
    
    color: #4a4a4a;
    font-family: FiraSans-Medium;
    font-size: 14px;
}
td:first-child {
    border-left: 25px !important;
    /*font-weight: bold !important;*/
    
    color: #4a4a4a;
    font-family: FiraSans-Medium;
}
td:last-child {
    border-right: none !important;
}
.plusIcon {
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 0.5px;
}
.icon {
    color: 1px solid rgb(220, 220, 220)!important;
    background-color: white !important;
    padding: 0px !important;
    margin-left: -3px!important;
    font-weight: normal !important;
}
.hiddenRow {
    border: none!important;
    padding: 0px !important;
    margin: 0px !important;
    border-collapse: collapse;
}
.trstyle {
    border-bottom: none !important;
    padding: 9px !important;
    font-size: 14px;
    color: #9b9b9b;
    border-collapse: collapse;
}
.firsttdstyle {
    padding-left: 40px !important;
    font-size: 12px!important;
    border-right: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
    padding: 0px 0px 0px 10px!important;
    border-collapse: collapse;
    color: #9b9b9b!important;
}
.tdstyle {
    padding-left: 40px !important;
    font-family: FiraSans-Regular;
    font-size: 12px!important;
    border-right: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
    padding: 0px 0px 0px 10px!important;
    border-collapse: collapse;
    color: #9b9b9b;
}
.piechart {
    height: 360px;
    width: 500px;
    border: 1px solid rgb(220, 220, 220);
}
.piecontent {
    height: 220px;
    padding-left: 110px;
    width: 300px;
    margin-top: 25px;
}
.piediv {
    height: 40px;
    width: 00px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    padding-top: 4px;
    padding-left: 25px;
}
.tableheading {
    font-size: 14px!important;
    font-family: FiraSans-Medium;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .piecontent {
        height: 220px;
        padding-left: 70px;
        width: 200px;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 768px) {
    .piecontent {
        height: 220px;
        padding-left: 10px;
        width: 150px;
        margin-top: 25px;
    }
}